<h1 *ngIf="thesis.title != null; else defaultTitle" mat-dialog-title>{{ thesis.title }}</h1>
<ng-template #defaultTitle><h1 mat-dialog-title>{{ "thesis-detail.header.thesis-detail" | translate }}</h1></ng-template>

<mat-dialog-content class="mat-typography">
  <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="start">
    <mat-tab label="Details">
      <div class="my-4 mx-5">
        <h3>{{ "thesis-detail.header.information-on-thesis" | translate }}</h3>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "thesis.title" | translate }}</mat-label>
          <input [(ngModel)]="thesis.title" [disabled]="currentMode === mode.NORMAL" matInput name="title" type="text"
                 value="originalThesis.title">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "thesis.thesisType" | translate }}</mat-label>
          <input [(ngModel)]="thesis.thesisType" [disabled]="currentMode === mode.NORMAL" matInput name="title-english"
                 type="text">
        </mat-form-field>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.department" | translate }}</mat-label>
                <mat-select [(value)]="thesis.departmentId" [disabled]="currentMode === mode.NORMAL">
                  <mat-option *ngFor="let department of this.departments" [value]="department.id">
                    {{ department.name + " (" + department.id + ")" }}
                  </mat-option>
                  <mat-option class="pr-2 ml-2 my-2 bg-white">
                    <button (click)="openDepartmentDialog()" color="accent" mat-raised-button>
                      {{ "thesis-detail.buttons.add-department" | translate }}
                    </button>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.subject" | translate }}</mat-label>
                <input [(ngModel)]="thesis.subject" [disabled]="currentMode === mode.NORMAL" matInput name="subject"
                       type="text">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <ng-template #departmentDialog>
          <h2 mat-dialog-title>{{ "thesis-detail.buttons.add-department" | translate }}</h2>
          <mat-dialog-content class="mr-1">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "thesis.department.departmentName" | translate }}</mat-label>
              <input [(ngModel)]="departmentName" matInput name="departmentName">
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ "thesis.department.departmentId" | translate }}</mat-label>
              <input [(ngModel)]="departmentId" matInput name="departmentId">
            </mat-form-field>
          </mat-dialog-content>
          <div mat-dialog-actions>
            <button (click)="addDepartment()" color="primary" mat-raised-button>
              {{ "thesis-detail.buttons.save" | translate }}
            </button>
            <span class="flex-spacer"></span>
            <button (click)="departmentDialogRef.close()" color="warn" mat-raised-button>
              {{ "thesis-detail.buttons.cancel" | translate }}
            </button>
          </div>
        </ng-template>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "thesis-detail.supervisor" | translate }}</mat-label>
          <mat-select [(value)]="thesis.supervisorId" [disabled]="currentMode === mode.NORMAL">
            <mat-option *ngFor="let user of this.users" [value]="user.id">
              {{ user.firstName + " " + user.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.evaluator-firstname" | translate }}</mat-label>
                <input [(ngModel)]="thesis.evaluatorFirstName" [disabled]="currentMode === mode.NORMAL" matInput name="gutachter_first"
                       type="text">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.evaluator-lastname" | translate }}</mat-label>
                <input [(ngModel)]="thesis.evaluatorLastName" [disabled]="currentMode === mode.NORMAL" matInput name="gutachter_last"
                       type="text">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.status.signUpDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.signUpUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerSignUpUtc" matInput
                       name="signUp">
                <mat-datepicker-toggle [for]="pickerSignUpUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerSignUpUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.status.dueDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.dueDateUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerDueDateUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerDueDateUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerDueDateUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.assignmentDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.allocationDateUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerAllocationDateUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerAllocationDateUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerAllocationDateUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.extended-duedate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.extendedDueDateUtc" [disabled]="currentMode === mode.NORMAL"
                       [matDatepicker]="pickerExtendedDueDateUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerExtendedDueDateUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerExtendedDueDateUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.presentationDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.presentationUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerPresentationUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerPresentationUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerPresentationUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.submissionDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.submittedUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerSubmissionUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerSubmissionUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerSubmissionUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.gradingDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.gradedUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerGradingUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerGradingUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerGradingUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.reportDate" | translate }}</mat-label>
                <input [(ngModel)]="thesis.status.reportCreatedUtc" [disabled]="currentMode === mode.NORMAL" [matDatepicker]="pickerReportUtc"
                       matInput>
                <mat-datepicker-toggle [for]="pickerReportUtc" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #pickerReportUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <h3>{{ "thesis-detail.header.status" | translate }}</h3>
        <div class="pl-3">
          <mat-checkbox [ngModel]="normalizeDate(thesis.status.signUpUtc) < normalizeDate(currentDate)" class="pr-5"
                        disabled
                        name="signedUp">
            {{ "thesis.status.signedUp" | translate }}</mat-checkbox>
          <mat-checkbox [ngModel]="thesis.status.extendedDueDateUtc != null" class="pr-5" disabled
                        name="extended">
            {{ "thesis.status.extendedDueDate" | translate }}</mat-checkbox>
          <mat-checkbox [ngModel]="normalizeDate(thesis.status.submittedUtc) < normalizeDate(currentDate)" class="pr-5"
                        disabled
                        name="submitted">
            {{ "thesis.status.submitted" | translate }}</mat-checkbox>
          <mat-checkbox [ngModel]="normalizeDate(thesis.status.presentationUtc) < normalizeDate(currentDate)" class="pr-5"
                        disabled
                        name="presented">
            {{ "thesis.status.presented" | translate }}</mat-checkbox>
          <mat-checkbox [ngModel]="normalizeDate(thesis.status.gradedUtc) < normalizeDate(currentDate)" class="pr-5"
                        disabled
                        name="graded">
            {{ "thesis.status.graded" | translate }}</mat-checkbox>
          <mat-checkbox [ngModel]="normalizeDate(thesis.status.reportCreatedUtc) < normalizeDate(currentDate)"
                        disabled
                        name="reportCreated">
            {{ "thesis.status.reportCreated" | translate }}
          </mat-checkbox>
        </div>

        <br>


        <h3>{{ "thesis-detail.header.information-on-student" | translate }}</h3>
        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.studentFirstName" | translate }}</mat-label>
                <input [(ngModel)]="thesis.firstName" [disabled]="currentMode === mode.NORMAL" matInput name="studentFirstName"
                       type="text">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.studentLastName" | translate }}</mat-label>
                <input [(ngModel)]="thesis.lastName" [disabled]="currentMode === mode.NORMAL" matInput name="studentLastName"
                       type="text">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.student.email" | translate }}</mat-label>
                <input [(ngModel)]="thesis.email" [disabled]="currentMode === mode.NORMAL" email matInput name="email"
                       type="email">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.studentId" | translate }}</mat-label>
                <input [(ngModel)]="thesis.studentId" [disabled]="currentMode === mode.NORMAL" matInput name="matrikel"
                       type="text">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field appearance="outline" class="w-50 pr-2 adjustingMargin">
          <mat-label>{{ "thesis-detail.student.gender" | translate }}</mat-label>
          <mat-select [(ngModel)]="thesis.gender" [disabled]="currentMode === mode.NORMAL" name="geschlecht">
            <mat-option *ngFor="let gender of genderType | keyvalue" [value]="gender.key">
              {{ gender.value | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h3>{{ "thesis-detail.header.notes" | translate }}</h3>
        <table [dataSource]="datasource" class="w-100 ml-2 pr-5 mat-elevation-z0" mat-table>
          <ng-container matColumnDef="checked">
            <th *matHeaderCellDef mat-header-cell>
              Check
            </th>
            <td *matCellDef="let row" mat-cell>
              <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                            (click)="$event.stopPropagation()"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container class="w-50" matColumnDef="Datum">
            <th *matHeaderCellDef mat-header-cell>
              {{ "thesis-detail.date" | translate }}
            </th>
            <td *matCellDef="let element" mat-cell>{{ element['createdUtc'] | date:'dd/MM/yyyy' }}</td>
          </ng-container>

          <ng-container class="w-50" matColumnDef="Notiz">
            <th *matHeaderCellDef mat-header-cell>
              {{ "thesis-detail.notes" | translate }}
            </th>
            <td *matCellDef="let element" mat-cell>
              <mat-form-field class="w-100" floatLabel="never">
              <textarea [(ngModel)]="element['content']"
                        [disabled]="currentMode === mode.NORMAL" matInput placeholder="{{ 'thesis-detail.note-placeholder' | translate }}"
                        rows="5"></textarea>
              </mat-form-field>
            </td>
          </ng-container>
          <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        </table>

        <button #tooltip="matTooltip" (click)="addColumn()" [hidden]="currentMode === mode.NORMAL" [matTooltipShowDelay]="500"
                class="mt-2 mb-3 ml-2 mx-3" color="accent"
                mat-mini-fab matTooltip="{{ 'thesis-detail.buttons.add-note' | translate }}">
          <mat-icon>add</mat-icon>
        </button>
        <button #tooltip="matTooltip" (click)="removeSelectedRows()" [hidden]="currentMode === mode.NORMAL || selection.isEmpty()"
                [matTooltipShowDelay]="500"
                class="mt-2 mb-3 ml-2 mx-3" color="warn"
                mat-mini-fab matTooltip="{{ 'thesis-detail.buttons.delete-note' | translate }}">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-tab>


    <mat-tab [disabled]="currentMode === mode.NORMAL && this.thesis.grading == null"
             label="{{ 'thesis-detail.grading.title' | translate }}">
      <div *ngIf="grading == null" class="my-4 mx-5">
        <div class="row">
          <div class="col-6">
            <h3>{{ 'thesis-detail.grading.choose-evalScheme' | translate }}</h3>
            <button color="accent" mat-dialog-close
                    mat-raised-button
                    matTooltip="{{ 'thesis-detail.buttons.manage-evaluationScheme-Tooltip' | translate }}" matTooltipClass="warn-tooltip" matTooltipPosition="left"
                    routerLink="/evaluation-scheme">
              {{ 'thesis-detail.buttons.manage-evaluationScheme' | translate }}
            </button>
          </div>
          <mat-form-field appearance="outline" class="col-4 pt-4">
            <mat-label>
              <mat-icon>search</mat-icon>
              {{ 'evaluation-scheme.search' | translate }}</mat-label>
            <input #search
                   (keyup)="search.value == '' ? initData(sorting === sortMode.NOT ? null : sorting === sortMode.ASCENDING, currentField === 'createdUtc' ? null : currentField, null, true, search.value) : {}"
                   (keyup.enter)="initData(sorting === sortMode.NOT ? null : sorting === sortMode.ASCENDING, currentField === 'createdUtc' ? null : currentField , null, true, search.value)"
                   matInput>
          </mat-form-field>
          <div class="col-1 pt-4">
            <button (click)="initData(null, null, null, true, search.value)" class="search-button" color="accent" mat-mini-fab>
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>

        <br>

        <div class="table-scroll">
          <table [dataSource]="evaluationSchemeData" class="w-100 mat-elevation-z0 text-center" mat-table>
            <ng-container matColumnDef="name">
              <th (click)="sort('name')" *matHeaderCellDef class="text-center cursor-pointer" mat-header-cell>
                <mat-icon>title</mat-icon>
                {{ 'thesis-detail.grading.evalScheme-name' | translate }}
                <mat-icon *ngIf="sorting == sortMode.ASCENDING && currentField == 'name'">arrow_downward</mat-icon>
                <mat-icon *ngIf="sorting == sortMode.DESCENDING && currentField == 'name'">arrow_upward</mat-icon>
              </th>
              <td *matCellDef="let scheme" mat-cell>{{ scheme?.name }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th (click)="sort('description')" *matHeaderCellDef class="text-center cursor-pointer" mat-header-cell>
                <mat-icon>description</mat-icon>
                {{ 'thesis-detail.grading.evalScheme-description' | translate }}
                <mat-icon *ngIf="sorting == sortMode.ASCENDING && currentField == 'description'">arrow_downward</mat-icon>
                <mat-icon *ngIf="sorting == sortMode.DESCENDING && currentField == 'description'">arrow_upward</mat-icon>
              </th>
              <td *matCellDef="let scheme" mat-cell>{{ descriptionPreview(scheme?.description) }}</td>
            </ng-container>

            <ng-container matColumnDef="createdUtc">
              <th (click)="sort('createdUtc')" *matHeaderCellDef class="text-center cursor-pointer" mat-header-cell>
                <mat-icon>date_range</mat-icon>
                {{ 'thesis-detail.grading.evalScheme-created' | translate }}
                <mat-icon *ngIf="sorting == sortMode.ASCENDING && currentField == 'createdUtc'">arrow_downward</mat-icon>
                <mat-icon *ngIf="sorting == sortMode.DESCENDING && currentField == 'createdUtc'">arrow_upward</mat-icon>
              </th>
              <td *matCellDef="let scheme" mat-cell>{{ showDate(scheme?.id) }}</td>
            </ng-container>

            <ng-container matColumnDef="lastUpdatedUtc">
              <th (click)="sort('lastUpdatedUtc')" *matHeaderCellDef class="text-center cursor-pointer" mat-header-cell>
                <mat-icon>update</mat-icon>
                {{ 'thesis-detail.grading.evalScheme-updated' | translate }}
                <mat-icon *ngIf="sorting == sortMode.ASCENDING && currentField == 'lastUpdatedUtc'">arrow_downward</mat-icon>
                <mat-icon *ngIf="sorting == sortMode.DESCENDING && currentField == 'lastUpdatedUtc'">arrow_upward</mat-icon>
              </th>
              <td *matCellDef="let scheme" mat-cell>{{ calcDate(scheme?.lastUpdatedUtc) }}</td>
            </ng-container>

            <tr *matHeaderRowDef="evaluationSchemeColumnsScheme ; sticky: true" mat-header-row></tr>
            <tr (click)="openEvalSchemeDetail(scheme.id)" *matRowDef="let scheme; columns: evaluationSchemeColumnsScheme;"
                class="cursor-pointer grey-on-hover"
                mat-row></tr>

            <tr *matNoDataRow class="mat-row">
              <td *ngIf="search.value !== ''" class="mat-cell" colspan="4">
                {{ 'evaluation-scheme.empty-filter' | translate }} "{{search.value}}"
              </td>
              <td *ngIf="search.value === ''" class="mat-cell" colspan="4">
                {{ 'evaluation-scheme.empty-table' | translate }}
              </td>
            </tr>
          </table>
        </div>
      </div>


      <div *ngIf="grading != null" class="my-4 mx-5">
        <h3 [hidden]="this.thesis.grading != null">{{ 'thesis-detail.grading.choose-evalScheme' | translate }}</h3>
        <form>
          <div class="row">
            <mat-form-field appearance="outline"
                            class="col-12 col-md-10 col-lg-8 col-xl-6">
              <mat-label>{{ 'thesis-detail.grading.evalScheme-name' | translate }}</mat-label>
              <input [name]="'name'" [ngModel]="this.grading.name"
                     disabled matInput>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline"
                            class="col-12 col-md-10 col-lg-8 col-xl-6">
              <mat-label>{{ 'thesis-detail.grading.evalScheme-description' | translate }}</mat-label>
              <textarea [name]="'description'" [ngModel]="this.grading.description"
                        disabled matInput>
              </textarea>
            </mat-form-field>
          </div>

          <hr>

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="evalSchemeTree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li>
                <div class="mat-tree-node">
                  <mat-card class="w-100">
                    <div class="row">
                      <div class="col-2">
                        {{ node.counter }}
                      </div>
                      <div class="col-10 col-xl-6">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.criterion' | translate }}
                          </mat-label>
                          <input [name]="'criterionName' + node.counter" [ngModel]="node.name"
                                 disabled matInput>
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-2">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.weight' | translate }}
                          </mat-label>
                          <input [name]="'criterionWeight' + node.counter" [ngModel]="node.weight"
                                 disabled matInput>
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-lg-none d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-2">
                        <mat-form-field [formGroup]="gradeGroup" appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.grade' | translate }}
                          </mat-label>
                          <input (ngModelChange)="node.grade = $event" [formControl]="gradeGroup.controls['grade' + node.counter]"
                                 [name]="'criterionGrade' + node.counter" [ngModel]="node.grade === 0 ? null : node.grade"
                                 [readonly]="currentMode === mode.NORMAL || this.thesis.grading == null"
                                 matInput>
                          <mat-error>{{ 'thesis-detail.grading.gradeError' | translate }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <button disabled mat-icon-button></button>
                      </div>
                      <div class="col-10">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.description' | translate }}
                          </mat-label>
                          <input [name]="'criterionDescription' + node.counter" [ngModel]="node.description"
                                 disabled matInput>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </li>
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when hasChild">
              <li>
                <div class="mat-tree-node">
                  <mat-card class="w-100 py-3">
                    <div class="row">
                      <div class="col-2">
                        {{ node.counter }}
                      </div>
                      <div class="col-10 col-xl-6">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.criterion' | translate }}
                          </mat-label>
                          <input [name]="'criterionName' + node.counter" [ngModel]="node.name"
                                 disabled matInput>
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-2">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.weight' | translate }}
                          </mat-label>
                          <input [name]="'criterionWeight' + node.counter" [ngModel]="node.weight"
                                 disabled matInput>
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-lg-none d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-2">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.grade' | translate }}
                          </mat-label>
                          <input [name]="'criterionGrade' + node.counter" [ngModel]="node.grade != null && node.grade.toString() === 'NaN' || node.grade === 0
                                 ? null : node.grade"
                                 disabled
                                 matInput>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <button mat-icon-button matTreeNodeToggle>
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                          </mat-icon>
                        </button>
                      </div>
                      <div class="col-10">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ 'thesis-detail.grading.selected.description' | translate }}
                          </mat-label>
                          <input [name]="'criterionDescription' + node.counter" [ngModel]="node.description"
                                 disabled matInput>
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card>
                  <ul [class.evalSchemeTree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </div>
              </li>
            </mat-nested-tree-node>
          </mat-tree>
          <div [hidden]="this.thesis.grading != null" class="py-3">
            <button (click)="this.thesis.grading = grading" color="accent" mat-raised-button>
              {{ 'thesis-detail.buttons.confirm-evalScheme' | translate }}
            </button>
            <span class="p-1"></span>
            <button (click)="grading=null" color="warn" mat-raised-button>
              {{ 'thesis-detail.buttons.other-evalScheme' | translate }}
            </button>
          </div>
          <hr [hidden]="this.thesis.grading == null">
          <div [hidden]="this.thesis.grading == null" class="py-3 row">
            <div class="col-12 col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'thesis-detail.grading.selected.calculated-grade' | translate }}</mat-label>
                <input [name]="'calcuatedGrade'" [ngModel]="thesis.calculatedGrade != null && thesis.calculatedGrade.toString() === 'NaN' ||
                       thesis.calculatedGrade === 0 ? null : thesis.calculatedGrade" disabled
                       matInput>
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'thesis-detail.grading.selected.overwrite-grade' | translate }}</mat-label>
                <input (ngModelChange)="thesis.grade = $event" [formControl]="gradeControl" [name]="'grade'"
                       [ngModel]="thesis.grade === 0 ? null : thesis.grade" [readonly]="currentMode === mode.NORMAL"
                       matInput>
                <mat-error>{{ 'thesis-detail.grading.gradeError' | translate }}</mat-error>
              </mat-form-field>
            </div>
            <button (click)="calcGrade()" [disabled]="currentMode === mode.NORMAL" color="accent" mat-flat-button>
              {{ 'thesis-detail.buttons.calc-grade' | translate }}
            </button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<div mat-dialog-actions>
  <button (click)="changeToEdit()" [hidden]="currentMode !== mode.NORMAL" color="primary" mat-raised-button>
    {{ "thesis-detail.buttons.edit" | translate }}
  </button>
  <button (click)="create()" [hidden]="currentMode !== mode.NEW" color="add" mat-raised-button>
    {{ "thesis-detail.buttons.create" | translate }}
  </button>
  <button (click)="save()" [hidden]="currentMode !== mode.EDIT" color="primary" mat-raised-button>
    {{ "thesis-detail.buttons.save" | translate }}
  </button>
  <button (click)="resetThesis()" [hidden]="currentMode !== mode.EDIT" color="warn" mat-raised-button>
    {{ "thesis-detail.buttons.cancel" | translate }}
  </button>
  <span class="flex-spacer"></span>
  <button [disabled]="currentMode === mode.EDIT" color="warn" mat-dialog-close mat-raised-button>
    {{ "thesis-detail.buttons.close" | translate }}
  </button>
</div>
