input {
  display: initial !important;
  margin: 0 5px 0 0 !important;
}

.mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
}

.mat-checkbox {
  display: initial !important;
  margin: 0 5px !important;
  font-size: 12px;
}

.mat-input-element:disabled {
  color: black;
  outline: none;
}

::ng-deep.mat-select-disabled .mat-select-value {
  color: black;
  outline: none;
}

input:disabled {
  color: black;
}

.mat-add {
  background-color: limegreen;
  color: #fff;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.table-scroll {
  height: calc(100vh - 456px);
  overflow: auto;
}

.mini-table-scroll {
  height: 25vh;
  overflow: auto;
}

.evalSchemeTree-invisible {
  display: none;
}

.evalSchemeTree ul,
.evalSchemeTree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

mat-form-field {
  display: block;
}

.mat-tree-node {
  display: block;
}

.mat-nested-tree-node {
  display: block;
}

mat-card {
  margin-left: 20px;
}

li {
  border: dashed black;
  border-width: 0 0 0 1px;
  padding-top: 10px;
}

::ng-deep .warn-tooltip {
  background: red;
}

.search-button {
  margin-top: 8px;
}
