<div class="container mt-4">
    <h2>Thesis Details</h2>
    <hr>
        <h2>Informationen zur Arbeit</h2>

              <mat-form-field class="full-width">
                <p class="increase-size">1.Titel: </p>
                <input matInput type="text" name="titel1" [(ngModel)]="editableThesis.titel_1" value="thesis.titel_1" [disabled]="!editorEnabled">
              </mat-form-field>

              <mat-form-field class="full-width">
                <p class="increase-size">2.Titel: </p>
                <input matInput type="text" name="titel2" [(ngModel)]="editableThesis.titel_2" value="thesis.titel_2" [disabled]="!editorEnabled">
              </mat-form-field>

              <mat-form-field class="full-width">
                <p class="increase-size">Betreuer: </p>
                <input matInput type="text" name="betreuer" [(ngModel)]="editableThesis.betreuer" value="thesis.betreuer" [disabled]="!editorEnabled">
              </mat-form-field>

              <table cellspacing="0" class="full-width"><tr>
                <td *ngFor="let g of thesis.gutachter; let i=index"><mat-form-field class="full-width"> 
                  <p class="increase-size">{{i+1}}.Gutachter: </p>
                  <input matInput type="text" name="gutachter_{{i}}" [(ngModel)]="editableThesis.gutachter[i]" value="thesis.gutachter[i]" [disabled]="!editorEnabled">
                </mat-form-field></td>
              </tr></table>
          
                 

        <mat-form-field>
          <p class="increase-size">Status: </p>
          <mat-select [(ngModel)]="editableThesis.status" name="status" [disabled]="!editorEnabled">
            <mat-option *ngFor="let s of statuses" [value]="thesis.status">
              {{s}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
        
        <table cellspacing="0" class="full-width"><tr>
          <td>
            <mat-form-field class="full-width"> 
              <p class="increase-size">Anmeldedatum: </p>
              <input matInput type="text" name="anmeldedatum" [(ngModel)]="editableThesis.anmeldeDatum" value="thesis.anmeldeDatum" [disabled]="!editorEnabled">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="full-width"> 
              <p class="increase-size">Abgabedatum: </p>
              <input matInput type="text" name="abgabedatum" [(ngModel)]="editableThesis.abgabeDatum" value="thesis.abgabeDatum" [disabled]="!editorEnabled">
            </mat-form-field>
          </td>
        </tr></table>

        <h2>Notizen</h2>
        <table mat-table [dataSource]="datasource" class="mat-elevation-z8 notes">
          <ng-container matColumnDef="Datum">
            <th mat-header-cell *matHeaderCellDef>Datum</th>
            <td mat-cell *matCellDef="let row">{{row.Datum}}</td>
          </ng-container>

          <ng-container matColumnDef="Notiz">
            <th mat-header-cell *matHeaderCellDef>Notiz</th>
            <td mat-cell *matCellDef="let element">
            <mat-form-field floatLabel="never" class="full-width">
              <textarea matInput placeholder="Add a comment" rows="5" [ngModelOptions]="{standalone: true}" [value]="element.Notiz" [(ngModel)]="element.Notiz"></textarea>
            </mat-form-field>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <button mat-raised-button (click)="addColumn()"> Add note </button>

        <p dir="ltr" style="text-align: left;"></p>

    
      
      <h2>Informationen zum Studenten</h2>
      <table cellspacing="0" class="full-width"><tr>
        <td>
          <mat-form-field class="full-width"> 
            <p class="increase-size">Name: </p>
            <input matInput type="text" name="studentName" [(ngModel)]="editableThesis.student_name" value="thesis.student_name" [disabled]="!editorEnabled">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="full-width"> 
            <p class="increase-size">Matrikelnummer: </p>
            <input matInput type="text" name="matrikel" [(ngModel)]="editableThesis.mat_num" value="thesis.mat_num" [disabled]="!editorEnabled">
          </mat-form-field>
        </td>
      </tr></table>

      <table cellspacing="0" class="full-width"><tr>
        <td>
          <mat-form-field class="full-width"> 
            <p class="increase-size">Email: </p>
            <input matInput type="email" name="email" [(ngModel)]="editableThesis.email" value="thesis.email" [disabled]="!editorEnabled">
          </mat-form-field>
        </td>
        <td>
          <p class="increase-size">Geschlecht: </p>
          <mat-select [(ngModel)]="editableThesis.geschlecht" name="geschlecht" [disabled]="!editorEnabled">
            <mat-option *ngFor="let g of geschlechter" [value]="thesis.geschlecht">
              {{g}}
            </mat-option>
          </mat-select>
        </td>
      </tr></table>



      <table class="click-to-edit">
        <tr>
          <td [hidden]="editorEnabled">
            <button mat-raised-button color="primary" (click)="enableEditor()">Edit</button>
          </td>
          <td [hidden]="!editorEnabled">
            <button mat-raised-button color="primary" (click)="save()">Save</button>
          </td>
          <td [hidden]="!editorEnabled">
            <button mat-raised-button color="primary" (click)="disableEditor()">Cancel</button>
          </td>
        </tr>

      </table>
</div>