<div class="my-4 mx-5">
  <h2> {{ "profile.header" | translate }} </h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "profile.firstName" | translate }}</mat-label>
        <input [disabled]="!editorEnabled" matInput type="text" name="firstName" [(ngModel)]="user.firstName"
               value="user.firstName">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "profile.lastName" | translate }}</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="user.lastName"
               [disabled]="!editorEnabled">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "profile.userName" | translate }}</mat-label>
        <input matInput type="text" name="userName" [(ngModel)]="user.userName"
               [disabled]="!editorEnabled">
      </mat-form-field>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "profile.email" | translate }}</mat-label>
        <input matInput type="text" name="email" [(ngModel)]="user.email" [disabled]="!editorEnabled">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="left">
    <button [hidden]="editorEnabled" mat-raised-button color="primary" (click)="enableEditor()">
      {{ "profile.buttons.edit" | translate }}
    </button>
    <button [hidden]="!editorEnabled" mat-raised-button color="accent" (click)="save()">
      {{ "profile.buttons.save" | translate }}
    </button>
    <span class="p-1"></span>
    <button [hidden]="!editorEnabled" mat-raised-button color="warn" (click)="disableEditor()">
      {{ "profile.buttons.cancel" | translate }}
    </button>
  </div>
</div>
