
.column{
  float: left;
  width: 50%;
}

.table-scroll{
  height: calc(100vh - 500px);
  overflow: auto;
}


mat-form-field-label:disabled,
mat-input-element:disabled{
  color: black;
  outline: none;
}


input:disabled{
  color: black;
}
