<div class="my-4 mx-5">
  <div class="row">
    <div class="col-7">
      <h2>{{'thesis.pageTitle' | translate}}</h2>
      <hr>
    </div>
    <mat-form-field appearance="outline" class="col-4">
      <mat-label><mat-icon>search</mat-icon> {{ 'thesis.search' | translate }}</mat-label>
      <input matInput (keyup.enter)="initData(null, null, null, search.value)" #search>
    </mat-form-field>
    <div class="col-1">
      <button mat-mini-fab color="accent" class="search-button"  (click)="initData(null, null, null, search.value)"><mat-icon>search</mat-icon></button>
    </div>
  </div>
  <div class="table-overflow mat-elevation-z0">
    <table mat-table [dataSource]="data" class="text-center w-100 mat-elevation-z0">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="text-center" (click)="sort('title')">
          {{ 'thesis.title' | translate }}
          <mat-icon *ngIf="sorting == sortMode.DESCENDING">arrow_downward</mat-icon>
          <mat-icon *ngIf="sorting == sortMode.ASCENDING">arrow_upward</mat-icon>
        </th>
        <td mat-cell *matCellDef="let element">{{ titlePreview(element.title) }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.studentFirstName' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.studentLastName' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.studentId' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.studentId }}</td>
      </ng-container>

      <ng-container matColumnDef="supervisorFirstName">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.supervisorFirstName' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.supervisorFirstName }}</td>
      </ng-container>

      <ng-container matColumnDef="supervisorLastName">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.supervisorLastName' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.supervisorLastName }}</td>
      </ng-container>

      <ng-container matColumnDef="thesisType">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.thesisType' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.thesisType }}</td>
      </ng-container>

      <ng-container matColumnDef="departmentName">
        <th mat-header-cell *matHeaderCellDef class="text-center"
            >{{ 'thesis.department.department' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          {{ element.departmentId == null? null : element.departmentName + " (" + element.departmentId + ")" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="signUpUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.signUpDate' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status?.signUpUtc != null">
            {{ calcDate(element.status?.signUpUtc) }}
          </div>
          <mat-checkbox *ngIf="element.status?.signUpUtc == null" [disabled]="true" [checked]="false"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="dueDateUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.dueDate' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.status?.dueDateUtc != null"> {{ calcDate(element.status?.dueDateUtc) }} </div>
          <mat-checkbox *ngIf="element.status?.dueDateUtc == null" [disabled]="true" [checked]="false"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="extendedDueDateUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.extendedDueDate' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true" [checked]="element.status?.extendedDueDateUtc != null"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="submittedUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.submitted' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true"
                        [checked]="normalizeDate(element.status?.submittedUtc) < normalizeDate(currentDate)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="presentationUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.presented' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true"
                        [checked]="normalizeDate(element.status?.presentationUtc) < normalizeDate(currentDate)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="gradedUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.graded' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true"
                        [checked]="normalizeDate(element.status?.gradedUtc) < normalizeDate(currentDate)"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="reportCreatedUtc">
        <th mat-header-cell *matHeaderCellDef class="text-center">{{ 'thesis.status.reportCreated' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [disabled]="true"
                        [checked]="normalizeDate(element.status?.reportCreatedUtc) < normalizeDate(currentDate)"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="cursor-pointer"
          *matRowDef="let row; columns: displayedColumns;"
          (click)="openDialog(row.id)"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="17" *ngIf="!(data == null || data.data.length === 0)">
          {{ 'thesis.empty-filter' | translate }} "{{search.value}}"
        </td>
        <td class="mat-cell" colspan="17" *ngIf="data == null || data.data.length === 0">
          {{ 'thesis.empty-table' | translate }}
        </td>
      </tr>
    </table>
  </div>
  <br>
  <button mat-mini-fab color="add" class="mx-3" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <hr>
</div>
