<h2 mat-dialog-title>{{ "user.buttons.create" | translate }}</h2>
<mat-dialog-content class="mr-1">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ "user.firstName" | translate }}</mat-label>
    <input name="firstname" [(ngModel)]="this.user.firstName" matInput [disabled]="currentMode === mode.NORMAL">
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ "user.lastName" | translate }}</mat-label>
    <input name="lastname" [(ngModel)]="this.user.lastName" matInput [disabled]="currentMode === mode.NORMAL">
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ "user.userName" | translate }}</mat-label>
    <input name="userName" [(ngModel)]="this.user.userName" matInput [disabled]="currentMode === mode.NORMAL">
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{ "user.email" | translate }}</mat-label>
    <input name="email" [(ngModel)]="this.user.email" matInput [disabled]="currentMode === mode.NORMAL">
  </mat-form-field>
</mat-dialog-content>

<div mat-dialog-actions>
  <button [hidden]="currentMode !== mode.NORMAL" mat-raised-button color="primary" (click)="changeToEdit()">
    {{ "user.buttons.edit" | translate }}
  </button>
  <button [hidden]="currentMode !== mode.NEW" mat-raised-button color="add" (click)="create()">
    {{ "user.buttons.create" | translate }}
  </button>
  <button [hidden]="currentMode !== mode.EDIT" mat-raised-button color="primary" (click)="save()">
    {{ "user.buttons.save" | translate }}
  </button>
  <button [hidden]="currentMode !== mode.EDIT" mat-raised-button color="warn" (click)="resetUser()">
    {{ "user.buttons.cancel" | translate }}
  </button>
  <span class="flex-spacer"></span>
  <button mat-raised-button color="warn" mat-dialog-close [disabled]="currentMode === mode.EDIT">
    {{ "user.buttons.close" | translate }}
  </button>
</div>
