<h1 mat-dialog-title *ngIf="thesis.title != null; else defaultTitle">{{ thesis.title }}</h1>
<ng-template #defaultTitle><h1 mat-dialog-title>{{ "thesis-detail.header.thesis-detail" | translate }}</h1></ng-template>

<mat-dialog-content class="mat-typography">
  <mat-tab-group [(selectedIndex)]="selectedTab" mat-align-tabs="start">
    <mat-tab label="Details">
      <div class="my-4 mx-5">
        <h3>{{ "thesis-detail.header.information-on-thesis" | translate }}</h3>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "thesis.title" | translate }}</mat-label>
          <input matInput type="text" name="title" [ngModel]="thesis.title" value="originalThesis.title" disabled>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "thesis.thesisType" | translate }}</mat-label>
          <input matInput type="text" name="title-english" [ngModel]="thesis.thesisType" disabled>
        </mat-form-field>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.department" | translate }}</mat-label>
                <mat-select [(value)]="thesis.departmentId" disabled>
                  <mat-option *ngFor="let department of this.departments" [value]="department.id">
                    {{ department.name + " (" + department.id + ")" }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.subject" | translate }}</mat-label>
                <input matInput type="text" name="subject" [ngModel]="thesis.subject" disabled>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "thesis-detail.supervisor" | translate }}</mat-label>
          <mat-select [(value)]="thesis.supervisorId" disabled>
            <mat-option *ngFor="let user of this.users" [value]="user.id">
              {{ user.firstName + " " + user.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.evaluator-firstname" | translate }}</mat-label>
                <input matInput type="text" name="gutachter_first" [ngModel]="thesis.evaluatorFirstName" disabled>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.evaluator-lastname" | translate }}</mat-label>
                <input matInput type="text" name="gutachter_last" [ngModel]="thesis.evaluatorLastName" disabled>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.status.signUpDate" | translate }}</mat-label>
                <input name="signUp" [ngModel]="thesis.status.signUpUtc" matInput [matDatepicker]="pickerSignUpUtc"
                       disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerSignUpUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerSignUpUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.status.dueDate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.dueDateUtc" matInput [matDatepicker]="pickerDueDateUtc" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerDueDateUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerDueDateUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.assignmentDate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.allocationDateUtc" matInput [matDatepicker]="pickerAllocationDateUtc"
                       disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerAllocationDateUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerAllocationDateUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.extended-duedate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.extendedDueDateUtc" matInput [matDatepicker]="pickerExtendedDueDateUtc"
                       disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerExtendedDueDateUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerExtendedDueDateUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.presentationDate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.presentationUtc" matInput [matDatepicker]="pickerPresentationUtc" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerPresentationUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerPresentationUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.submissionDate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.submittedUtc" matInput [matDatepicker]="pickerSubmissionUtc" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerSubmissionUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerSubmissionUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.gradingDate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.gradedUtc" matInput [matDatepicker]="pickerGradingUtc" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerGradingUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerGradingUtc></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.reportDate" | translate }}</mat-label>
                <input [ngModel]="thesis.status.reportCreatedUtc" matInput [matDatepicker]="pickerReportUtc"
                       disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerReportUtc"></mat-datepicker-toggle>
                <mat-datepicker #pickerReportUtc></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <br>

        <h3>{{ "thesis-detail.header.information-on-student" | translate }}</h3>
        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.studentFirstName" | translate }}</mat-label>
                <input matInput type="text" name="studentFirstName" [ngModel]="thesis.firstName" disabled>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.studentLastName" | translate }}</mat-label>
                <input matInput type="text" name="studentLastName" [ngModel]="thesis.lastName" disabled>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <table cellspacing="0" class="w-100">
          <tr>
            <td class="pr-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.student.email" | translate }}</mat-label>
                <input matInput type="email" name="email" email [ngModel]="thesis.email" disabled>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis.studentId" | translate }}</mat-label>
                <input matInput type="text" name="matrikel" [ngModel]="thesis.studentId" disabled>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <mat-form-field appearance="outline" class="w-50 pr-2 adjustingMargin">
          <mat-label>{{ "thesis-detail.student.gender" | translate }}</mat-label>
          <mat-select [ngModel]="thesis.gender" name="geschlecht" disabled>
            <mat-option *ngFor="let gender of genderType | keyvalue" [value]="gender.key">
              {{ gender.value | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h3>{{ "thesis-detail.header.notes" | translate }}</h3>
        <table mat-table [dataSource]="datasource" class="w-100 ml-2 pr-5 mat-elevation-z0">
          <ng-container matColumnDef="Datum" class="w-50">
            <th mat-header-cell *matHeaderCellDef>
              {{ "thesis-detail.date" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element['createdUtc'] | date:'dd/MM/yyyy' }}</td>
          </ng-container>

          <ng-container matColumnDef="Notiz" class="w-50">
            <th mat-header-cell *matHeaderCellDef>
              {{ "thesis-detail.notes" | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-form-field floatLabel="never" class="w-100">
              <textarea disabled matInput placeholder="{{ 'thesis-detail.note-placeholder' | translate }}" rows="5"
                        [ngModel]="element['content']"></textarea>
              </mat-form-field>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>


    <mat-tab label="{{ 'thesis-detail.grading.title' | translate }}" [disabled]="this.thesis.grading == null">
      <div class="my-4 mx-5" *ngIf="grading != null">
        <form>
          <div class="row">
            <mat-form-field appearance="outline" class="col-12 col-md-10 col-lg-8 col-xl-6">
              <mat-label>{{ "thesis-detail.grading.evalScheme-name" | translate }}</mat-label>
              <input matInput disabled [name]="'name'" [ngModel]="this.grading.name">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="col-12 col-md-10 col-lg-8 col-xl-6">
              <mat-label>{{ "thesis-detail.grading.evalScheme-description" | translate }}</mat-label>
              <textarea matInput disabled [name]="'description'" [ngModel]="this.grading.description">
              </textarea>
            </mat-form-field>
          </div>

          <hr>

          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="evalSchemeTree">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
              <li>
                <div class="mat-tree-node">
                  <mat-card class="w-100">
                    <div class="row">
                      <div class="col-2">
                        {{ node.counter }}
                      </div>
                      <div class="col-10 col-xl-4">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.criterion" | translate }} (@{{node.counter}}criterion@)
                          </mat-label>
                          <input matInput disabled [name]="'criterionName' + node.counter" [ngModel]="node.name">
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-3">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.weight" | translate }} (@{{node.counter}}weight@)
                          </mat-label>
                          <input matInput disabled [name]="'criterionWeight' + node.counter" [ngModel]="node.weight">
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-lg-none d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-3">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.grade" | translate }} (@{{node.counter}}grade@)
                          </mat-label>
                          <input matInput [name]="'criterionGrade' + node.counter"
                                 [ngModel]="node.grade === 0 ? null : node.grade" disabled>
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <button mat-icon-button disabled></button>
                      </div>
                      <div class="col-10">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.description" | translate }} (@{{node.counter}}description@)
                          </mat-label>
                          <input matInput disabled [name]="'criterionDescription' + node.counter" [ngModel]="node.description">
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card>
                </div>
              </li>
            </mat-tree-node>

            <mat-nested-tree-node *matTreeNodeDef="let node; when hasChild">
              <li>
                <div class="mat-tree-node">
                  <mat-card class="w-100 py-3">
                    <div class="row">
                      <div class="col-2">
                        {{ node.counter }}
                      </div>
                      <div class="col-10 col-xl-4">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.criterion" | translate }} (@{{node.counter}}criterion@)
                          </mat-label>
                          <input matInput disabled [name]="'criterionName' + node.counter" [ngModel]="node.name">
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-3">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.weight" | translate }} (@{{node.counter}}weight@)
                          </mat-label>
                          <input matInput disabled [name]="'criterionWeight' + node.counter" [ngModel]="node.weight">
                        </mat-form-field>
                      </div>
                      <div class="col-2 d-lg-none d-xl-none"></div>
                      <div class="col-10 col-lg-5 col-xl-3">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.grade" | translate }} (@{{node.counter}}grade@)
                          </mat-label>
                          <input matInput disabled
                                 [name]="'criterionGrade' + node.counter"
                                 [ngModel]="node.grade != null && node.grade.toString() === 'NaN' || node.grade === 0
                                 ? null : node.grade">
                        </mat-form-field>
                      </div>
                      <div class="col-2">
                        <button mat-icon-button matTreeNodeToggle>
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                          </mat-icon>
                        </button>
                      </div>
                      <div class="col-10">
                        <mat-form-field appearance="outline">
                          <mat-label>
                            {{ "thesis-detail.grading.selected.description" | translate }} (@{{node.counter}}description@)
                          </mat-label>
                          <input matInput disabled [name]="'criterionDescription' + node.counter" [ngModel]="node.description">
                        </mat-form-field>
                      </div>
                    </div>
                  </mat-card>
                  <ul [class.evalSchemeTree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </div>
              </li>
            </mat-nested-tree-node>
          </mat-tree>
          <hr>
          <div class="py-3 row">
            <div class="col-12 col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.grading.selected.calculated-grade" | translate }} (@calculatedGrade@)</mat-label>
                <input matInput disabled [name]="'calcuatedGrade'"
                       [ngModel]="thesis.calculatedGrade != null && thesis.calculatedGrade.toString() === 'NaN' ||
                       thesis.calculatedGrade === 0 ? null : thesis.calculatedGrade">
              </mat-form-field>
            </div>
            <div class="col-12 col-lg-6 col-xl-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ "thesis-detail.grading.selected.overwrite-grade" | translate }} (@overwrittenGrade@)</mat-label>
                <input matInput [name]="'grade'" [ngModel]="thesis.grade === 0 ? null : thesis.grade" disabled>
              </mat-form-field>
            </div>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>

<div mat-dialog-actions>
  <span class="flex-spacer"></span>
  <button mat-raised-button color="warn" mat-dialog-close>
    {{ "thesis-detail.buttons.close" | translate }}
  </button>
</div>
