<div class="my-4 mx-5">
  <h2>
    {{ "document-template.page-title" | translate }}
    <mat-icon matTooltip="{{ 'document-template.buttons.info-tooltip' | translate }}" matTooltipPosition="right">info</mat-icon>
  </h2>
  <hr>
  <div class="row">
    <mat-form-field appearance="outline" class="col-6">
      <mat-label>{{ "document-template.template-select" | translate }}</mat-label>
      <mat-select>
        <mat-option (click)="loadTemplate(documentTemplate.id)" *ngFor="let documentTemplate of this.documentTemplates"
                    [value]="documentTemplate.id">
          {{ documentTemplate.name }}
        </mat-option>
        <mat-option>
          <button (click)="openTemplateDetailDialog()" color="add" mat-raised-button>
            {{ "document-template.buttons.create-new-template" | translate }}
          </button>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="col-6 row">
      <mat-form-field appearance="outline" class="col-8">
        <mat-label>{{ "document-template.thesis-select" | translate }}</mat-label>
        <mat-select>
          <mat-option (click)="this.currentThesis = thesis; loadTemplate(currentTemplate.id)" *ngFor="let thesis of this.theses"
                      [value]="thesis.id">
            {{ thesis.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-4 pt-2">
        <button (click)="openThesisDetail(currentThesis)" [disabled]="currentThesis == null" color="primary"
                mat-raised-button>{{ "document-template.buttons.thesis-details" | translate}}
        </button>
        <mat-icon class="pl-2" matTooltip="{{ 'document-template.buttons.thesis-info-tooltip' | translate }}"
                  matTooltipPosition="left">info
        </mat-icon>
      </div>
    </div>
    <hr>
  </div>

  <div class="row">
    <div class="col-6 mat-elevation-z1 placeholder-height">
      <h2 class="pt-2">{{ "document-template.placeholder" | translate }}</h2>
      <div *ngIf="this.currentTemplate != null">
        <mat-form-field
          *ngFor="let placeholder of this.currentTemplate.placeholders" appearance="outline"
          class="col-12">
          <mat-label>{{ placeholder }}</mat-label>
          <textarea (ngModelChange)="placeHolderMap[placeholder] = $event" [ngModel]="placeHolderMap[placeholder]" class="placeholders"
                    matInput></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="col-6 mat-elevation-z1">
      <mat-form-field appearance="outline" class="col-12 pt-3 h-100">
        <mat-label>{{ "document-template.latex-template" | translate }}</mat-label>
        <textarea class="latex-template" matInput
                  readonly>{{ currentTemplate == null ? "" : currentTemplate.texTemplate }}</textarea>
      </mat-form-field>
    </div>
  </div>

  <br>

  <button (click)="openTemplateDetailDialog()" class="mx-3" color="add" mat-mini-fab
          matTooltip="{{ 'document-template.buttons.create-new-template' | translate }}">
    <mat-icon>add</mat-icon>
  </button>
  <button (click)="openTemplateDetailDialog(currentTemplate.id)" [hidden]="currentTemplate == null || currentTemplate.id == null" class="mx-3" color="primary"
          mat-mini-fab
          matTooltip="{{ 'document-template.buttons.edit-tooltip' | translate }}">
    <mat-icon>mode_edit</mat-icon>
  </button>
  <button (click)="generateDocs()" [disabled]="downloadDisabled" [hidden]="currentTemplate == null || currentTemplate.id == null"
          class="mx-3"
          color="basic" mat-mini-fab matTooltip="{{ 'document-template.buttons.save-tooltip' | translate }}">
    <mat-icon>save</mat-icon>
  </button>
  <hr>
</div>
