.mat-add {
  background-color: limegreen;
  color:#fff;
}

.latex-template {
  height: calc(100vh - 423px);
  resize: none;
}

.placeholders {
  resize: none;
}

.placeholder-height {
  height: calc(100vh - 332px);
  overflow-y: auto;
}
