<mat-toolbar class="mat-elevation-z16">
  <mat-toolbar-row class="container">
    <a mat-button color="primary" href="https://www.esa.informatik.tu-darmstadt.de/">
      <img src="/assets/images/esa-logo10.png" style="height: 50px;" alt="home">
    </a>
    <span class="flex-spacer"></span>
    <button *ngIf="!(isHandset$ | async)"
            [color]="isActive('/dashboard') ? 'primary' : null"
            mat-button routerLink="/dashboard">
      Dashboard
    </button>
    <button
      [color]="isActive('/evaluation-scheme') ? 'primary' : null"
      mat-button routerLink="/evaluation-scheme">
      {{ "evaluation-scheme.title" | translate }}
    </button>
    <button
      [color]="isActive('/thesis') ? 'primary' : null"
      mat-button routerLink="/thesis">
      {{ "thesis.pageTitle" | translate }}
    </button>
    <button
      [color]="isActive('/user') ? 'primary' : null"
      mat-button routerLink="/user">
      {{ "user.pageTitle" | translate }}
    </button>
    <button
      type="button"
      aria-label="Select Language"
      mat-icon-button
      [matMenuTriggerFor]="langSelect"
      *ngIf="!(isHandset$ | async)">
      <i class="material-icons">
        language
      </i>
    </button>
    <mat-menu #langSelect="matMenu" xPosition="before">
      <button mat-menu-item (click)="translateService.use('en')">English</button>
      <button mat-menu-item (click)="translateService.use('de')">Deutsch</button>
    </mat-menu>
    <button
      type="button"
      aria-label="Toggle nav"
      mat-icon-button
      [matMenuTriggerFor]="rootDropdown"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Nav toggle icon">menu</mat-icon>
    </button>
    <mat-menu #rootDropdown="matMenu">
      <button mat-menu-item routerLink="/dashboard">
        Dashboard
      </button>
      <button
        type="button"
        aria-label="Select Language"
        mat-menu-item
        [matMenuTriggerFor]="langSelect">
        <i class="material-icons">
          language
        </i>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
