<mat-toolbar class="mat-elevation-z16">
  <mat-toolbar-row class="container">
    <span class="flex-spacer"></span>
    <button
      [color]="isActive('/dashboard') ? 'primary' : null"
      mat-button routerLink="/dashboard">
      Dashboard
    </button>
    <span class="flexExpand"></span>
    <button
      [color]="(isActive('/evaluation-scheme') || isActive('/evaluation-scheme-generator')) ? 'primary' : null"
      mat-button routerLink="/evaluation-scheme">
      Bewertungsschemata
    </button>
  </mat-toolbar-row>
</mat-toolbar>
