<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Login</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="{{ 'login.user' | translate }}" formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            {{ "login.typeUsername" | translate }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="{{ 'login.password' | translate }}" formControlName="password"
                 required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            {{ "login.typePassword" | translate }}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">{{ "login.login" | translate }}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
