@import '~@angular/material/theming';
@import './theme.scss';

html, body {
  height: 100%;
  margin: 0;
}

mat-icon {
  vertical-align: middle;
}

.flex-spacer {
  flex: 1 1 auto;
}

.background-primary-50 {
  background-color: mat-color($primary-palette) !important;
}

.background-primary {
  background-color: mat-color($primary-palette) !important;
}

.color-primary {
  color: mat-color($primary-palette) !important;
}

.border-primary {
  border-color: mat-color($primary-palette) !important;
}

.background-accent {
  background-color: mat-color($accent-palette) !important;
}

.color-accent {
  color: mat-color($accent-palette) !important;
}

.border-accent {
  border-color: mat-color($accent-palette) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.grey-on-hover:hover {
  background-color: #eee;
}

.red-snackbar {
  background: red;
  color: white;
}

#loader {
  width: 150px;
  height: 150px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #007bff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
